---
BasedOnStyle: LLVM
ColumnLimit: 500
BreakBeforeBraces: Allman
PointerAlignment: Middle
UseTab: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
IndentWidth: 8
AccessModifierOffset: -8
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
...
